# Aula 8 - Scraping de Dados da Web

Importações de bibliotecas e configuração do ambiente

In [4]:
import pandas as pd
import requests
import numpy as np
from bs4 import BeautifulSoup
from tqdm import tqdm

# Scraping Países

- Qual o país com a maior área? 
- E a menor? E segunda menor?
- E a maior população? 
- E a menor? 
- Qual a capital de Reunião? 
- Qual a população de Letônia? 
- Qual a área da Serra Leoa?

In [5]:
url = 'https://www.scrapethissite.com/pages/simple/'
response = requests.get(url).content
soup = BeautifulSoup(response, 'html.parser')

countries = soup.find_all('div', {'class': 'country'})
lista_countries = []
for country in countries:
    nome = country.find('h3').get_text().strip()
    capital = country.find('span', {'class': 'country-capital'}).get_text()
    population = country.find('span', {'class': 'country-population'}).get_text()
    area = country.find('span', {'class': 'country-area'}).get_text()
    dados = {'nome': nome, 'capital': capital, 'population': population, 'area': area}
    lista_countries.append(dados)

df = pd.DataFrame(lista_countries)
df

                     nome           capital population       area
0                 Andorra  Andorra la Vella      84000      468.0
1    United Arab Emirates         Abu Dhabi    4975593    82880.0
2             Afghanistan             Kabul   29121286   647500.0
3     Antigua and Barbuda        St. John's      86754      443.0
4                Anguilla        The Valley      13254      102.0
..                    ...               ...        ...        ...
245                 Yemen             Sanaa   23495361   527970.0
246               Mayotte         Mamoudzou     159042      374.0
247          South Africa          Pretoria   49000000  1219912.0
248                Zambia            Lusaka   13460305   752614.0
249              Zimbabwe            Harare   11651858   390580.0

[250 rows x 4 columns]

# Scraping Hockey

In [ ]:
url = 'https://www.scrapethissite.com/pages/forms/'